.headerNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pathList {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    list-style: none;
}

.headerNav li{
    color: white;
    padding: 1rem;
}