.navDots menu{
    display: flex;
    list-style: none;
}

.navDots {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}