.imageContainer {
    position: relative;
    width: 500px;
    height: 500px;
    overflow:hidden;
}
.imageContainer img{
    object-fit: contain;
}
@media only screen and (max-width: 600px) {
    .imageContainer {
        width: 300px;
        height: 300px;
    }
}
.blankImage {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.imgNavButtons {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    inset: 0px;
}